.branch_page{
 padding: 3rem 0;
    .card_container{
        width: 80vw;
        margin: 0 auto;
        .card_container_header{
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .card_container_body{
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }
}