@import "../../global.scss";

.header {
  padding: 5rem 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  @media screen and (max-width: 800px) {
    gap: 2rem;
  }
  .first-div {
    padding: 14px 0;
    margin-bottom: 20px;
    border: 2px solid black;
    .top-div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right-div {
        margin-top: 20px;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            margin: 0 30px;
          }
        }
      }
      .lift-div {
        h1 {
          margin: 30px;
        }
      }
    }
  }

  .second-div {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      display: block;
    }
    .left-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .wrapper {
        @media screen and (max-width: 800px) {
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      button {
        background-color: $mainColor;
        color: white;
        padding: 10px 25px;
        border-radius: 25px;
        outline: none;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 800px) {
          text-align: center;
          margin-bottom: 6rem;
        }
        &:hover {
          color: $mainColor;
          border: 2px solid $mainColor;
          background-color: #fff;
        }
      }
    }

    .right-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
