.home_header_main{
    padding: 3.7rem 0;
     
        .container{
            background-color: #6a62ff17;
            height: 100%;
            padding: 5rem 1rem;
            border-radius:10px;
            box-shadow: 0 5px 8px #00000017;
            position: relative;
            .context{
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .main_heading{
                    font-size: 2rem;
                }
                .sub_heading{
                    font-size: 2.5rem;
                    font-weight: 700
                }
                .btn_home_header{
                    background-color: #6b62ff;
                    color: #fff;
                    border: none;
                    outline: none;
                    padding: 8px 0;
                    font-size: 20px;
                   width: 20%;
                   margin-top: 3rem;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   border: 2px solid #6a62ff00;
                    gap: 10px;
                   &:hover{
                    color: #6b62ff;
                    border: 2px solid #6b62ff;
                    background-color:transparent;
                   }

                   .fa-magnifying-glass{
                        font-size: 16px;
                   }
                }
            }
            .site_info{
                height: 5rem;
                width: 70%;
                background-color: #fff;
                position:absolute;
                bottom: -2rem;
                left: 50%;
                border-radius: 5px;
                box-shadow: 0 5px 12px #00000017;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
            }
        }
}