.card{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 81, 207, 0.878);
    color: #fff;
    margin: 10px;
}